* {
    box-sizing: border-box;
    font-family: cursive;
}
.container {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(3, 102, 214, 0.3);
    border-radius: 10px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    text-align: center;
    padding: 50px;
    margin: 25px auto;
}   
.f-contain a {
    padding-right: 25px;
}

.form-control {
    width: 400px;
    margin: auto;
}